@charset "UTF-8";

div#video_e_audio{
    background: url("../_imagens/radio-tv.png");
    background-repeat: no-repeat;
    width: 900px;
    height: 575px;
    margin: auto;
}

div#video_e_audio audio#musica{
    display: block;
    position: relative;
    top: 490px;
    left: 575px;

}

audio::-webkit-media-controls-timeline {
    display: none;
}
audio::-webkit-media-controls-panel {
    background-color: #36230E;
}

div#video_e_audio video#filme{
    display: block;
    position: relative;
    top: 70px;
    left: 90px;
    height: 250px;
}

/* pagina do index */

video#umdia{
    display: block;
    position: relative;
    width: 440px;
    margin: auto;
    margin-bottom: 5px;
    border: 2px solid white;
}

video#comovcsente{
    display: block;
    position: relative;
    width: 430px;
    margin: auto;
    border: 2px solid white;
}